:host {
	flex: 1;
	display: flex;	
	background-color: #d9c004;
}

:host span {
	flex: 1;
}

main {
	display: flex;	
	flex: 11;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../../assets/BackgroundSettingSelection.png");
}

.signup-body {
	flex: 1;
	text-align: center;
	color: white;
	flex-flow: column;
	display: flex;
}

.signup-body .signup-content {
	flex: 2;
}

.signup-content {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.signup-content h2 {
	font-size: 2em;
    margin-bottom: 0px;
}

.signup-content h1 {
	font-size: 5.1em;
    margin-top: 0px;
    line-height: 0.85em;
}

.signup-content h4 {
	font-weight: normal;
	font-size: 1.4em;
	padding-bottom: 40px;
}

.signup-content button {
	outline: none;
	font-size: 16px;
    background: transparent;
    border: 3px solid white;
    font-family: 'Lato', sans-serif;
    border-radius: 100px;
    color: white;
    max-width: 362px;
    max-height: 65px;
    min-width: 250px;
    margin-top: 10px;
    margin-bottom: 29px;
    min-height: 43px;
}
.signup-content button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.oneOfthree {
	height: 55px;
}

.james-inline-logo{
	font-family: Arista;
	font-weight: 500;
	font-size:45px;
}

.oneLiner {
	margin-bottom:-7px;
	display:inline;
}

.tell-james-label{
	margin-right:4px;
	margin-left:4px;
	margin-top: 17px;
	font-size:25px;
}
.tell-james-label-upper{
	font-size:27px;	
	font-variant-caps: petite-caps;
	margin-top: 15px;
	margin-left:4px;
}
.oneLiner > div{
	float:left;
}
.signup-middle-content{
	top: 50%;
    position: relative;
    margin-top: -150px;
    height: 150px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.downArrow{
    width: 50px;
    margin-top: 50px;
}
.signup-middle-content a{
	cursor: pointer;
}