<span></span>
<main>
  <div class="floating-corner-container">
    <div class="james-corner-box">
      <span class="james-corner-logo">
        James
      </span>
    </div>
  </div>
  <div class="signup-body">
	  <span></span>
		<div class="signup-content">
			<div class="signup-middle-content">
				<div class="oneLiner"> <div class="james-inline-logo">James</div><div class="tell-james-label">thanks you,</div> </div>
				<div class="oneLiner"> <div class="tell-james-label">Now lets get </div><div class="tell-james-label-upper">FUNKED UP!</div> </div>
				<a (click)="goToStream()"><img class="downArrow" src="../../assets/downArrow.png" /></a>
			</div>
		</div>
	<span></span>
	</div>
</main>
<span></span>