<span></span>
<main class="genre">
	<div class="floating-corner-container">
		<div class="james-corner-box">
			<span class="james-corner-logo">
				James
			</span>
		</div>
	</div>
	<div class="wrapper">
		<div class="header">
			Tal Fudim
		</div>
		<div class="content">
			<div class="left-side side">
				<div class="nav">
					<a class="conent-link" routerLinkActive=true routerLink="./newPlaylist">What's New</a>
					<a class="conent-link" routerLinkActive=true routerLink="./following">Follow</a>
					<a class="conent-link" routerLinkActive=true routerLink="./songs">Songs</a>
				</div>
				<div class="conent-page">
					<router-outlet></router-outlet>
				</div>
			</div>
			<div class="right-side side">
				<div class="stream">
					<div class="stream-header">
						<h3>
							Stream
						</h3>
						<p>
							all the mixtape that you like
						</p>
					</div>
					<div class="stream-player">
						<div class="md-4">
							<img class="song-image" style="background-color:black" src="song.image" />
						</div>
						<div class="md-6">
							<h3>song.name</h3>
							<div class="song-artist">song.artist</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<span></span>
<!--<main class="wrapper">
	<div >
		<h1 class="james-logo">James</h1>
		<h2>what's new</h2>
		<div id="news">
			<div *ngFor="let song of playlistSongs">
				<p>{{song.name}}</p>
				<button id="addto" (click)="addSongToStream(song)">add to stream</button>
			</div>
		</div>	
		<div id="stream">
			<div *ngFor="let song of streamSongs">
				<p>{{song.name}}</p>
			</div>
		</div>	
	</div>
</main>>-->