:host {
	flex: 1;
	display: flex;	
	background-color: #58aeac;
}

:host span {
	flex: 1;
}

main {
	display: flex;	
	flex: 11;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../../assets/BackgroundHome.png");
}
.wrapper{
	width:100%;
}
.header{
	height:12%;
}
.content{
    padding-left: 90px;
	padding-right: 90px;
	height: 88%;
	overflow-y:scroll;
}
::-webkit-scrollbar{
	width:0px;
	background: transparent;
}
.nav{
	margin-bottom:20px;
}
.nav a{
	color:white !important;
	font-size: 25px;	
	cursor: pointer;
	text-decoration: none;
    margin-right: 20px;
	padding-bottom:2px;
}
.nav a:hover{
	border-bottom:1px solid white;
}
.left-side{
	width:60%;
	float:left;
}
.right-side{
	width:40%;
	float:left;
}
.stream{
	height: 600px;
	margin-left: 50px;
	background-color:#e58b01;
	box-shadow: -3px 3px 5px rgba(28,5,5,0.35);
}
.stream h3, .stream p {
	margin: 5px 0;
}
.stream p{
	font-size:13px;
	color: rgb(247,219,146);
}
.stream-header{
	padding: 5px 30px;
}
.md-6{
	width:60%;
	float:left;
}
.md-4{
	width:40%;
	float:left;
}
.stream-player{
	margin: 25px 35px;
}
.song-artist{
	color:black;
}
.song-image{
    width: 90%;
	background-color: black; /* for now */
    min-height: 100px; /* for now */
}
.stream h4{
	margin-top:0px;
	margin-bottom:5px;
}