<div class="playlist-box">
	<div class="md-35">
		<div class="image-padding">
			<img class="playlist-image" src="{{stream.streamPicUrl}}" style="background-color:black" />
		</div>
	</div>
	<div class="md-65">
		<div class="user-info">
			<img class="profile" src="{{stream.userProfilePic}}" />
			<h4>{{stream.username}}</h4>
			<div class="user-followers-circle">
				<div class="text">
					{{stream.followers}}
				</div>
			</div>
		</div>
		<div class="playlist-info">
			<ul class="playlist-info-list">
				<li>
					Artists:
				</li>
				<li *ngFor="let artist of stream.artists.slice(0, 3)">
					{{artist}}
				</li>
			</ul>
			<ul class="playlist-info-list">
				<li>
					Genres:
				</li>
				<li *ngFor="let genre of stream.genres.slice(0, 3)">
					{{genre}}
				</li>
			</ul>
		</div>
		<div class="playlist-footer">
			 <button class="playlist-button">listen</button>
			 <button *ngIf="!stream.isFollowing" class="playlist-button" (click)="follow(stream)">follow</button>
			 <button class="playlist-button">add to stream</button>
		</div>
	</div>
</div>